<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" 
      type="image/png" 
      href="https://img.icons8.com/wired/344/monitor.png">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <!-- <img src="{{site.logo | relative_url}}" alt="Logo" /> -->
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        <ul>
          <li class="module">
            <h3>About this course</h3>
            <ul>
              <li><a href="{{ site.baseurl }}/lessons/module0/overview.html">Overview</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module0/schedule.html">Schedule</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module0/structure.html">Course Stucture</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module0/communication.html">Communication</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module0/feedback.html">Feedback</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module0/instructors.html">Instructors</a></li>
            </ul>
          </li>
          {% if site.see_module_1 %}
          <li class="module">
            <h3>Module 1</h3>
            <ul>
              <li><a href="{{ site.baseurl }}/lessons/module1/overview.html">Overview</a></li>
              <li>
                Prework Lesson 1
                <ul>
                  <li><a href="{{ site.baseurl }}/lessons/module1/how_the_web_works.html">How the web works</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module1/intro_to_html_css.html">Intro to HTML and CSS</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module1/vs_code.html">Visual Studio Code</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module1/friend-o-gram.html">Practice Problem: Friend-o-gram</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module1/intro_to_git.html">Intro to Git and GitHub</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/lessons/module1/lesson1.html">Live Session 1</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module1/project1.html">Project Part 1: Virtual Pet</a></li>
              <li>
                Prework Lesson 2
                <ul>
                  <li><a href="{{ site.baseurl }}/lessons/module1/intro_to_js_vars_conditionals.html">Intro to JS: Variables and Conditionals</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module1/intro_to_functions_math.html">Intro to JS Functions and Math</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module1/intro_to_responsive.html">Understanding Responsive Design</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/lessons/module1/lesson2.html">Live Session 2</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module1/lab1.html">Project Part 2</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module1/lab1.html">Lab</a></li>
            </ul>
          </li>
          {% endif %}
        
          {% if site.see_module_2 %}
          <li class="module">
            <h3>Module 2</h3>
            <ul>
              <li><a href="{{ site.baseurl }}/lessons/module2/overview.html">Overview</a></li>
              <li>
                Prework Lesson 1
                <ul>
                  <li><a href="{{ site.baseurl }}/lessons/module2/intro_to_js_loops_objects.html">Intro to JS: Loops and Objects</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module2/intro_to_firebase.html">Intro to Firebase</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/lessons/module2/lesson1.html">Live Session 1</a></li>
              <li>
                Prework Lesson 2
                <ul>
                  <li><a href="{{ site.baseurl }}/lessons/module2/intro_to_firebase_storage.html">Intro to Firebase Storage</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module2/intro_to_firebase_hosting.html">Intro to Firebase Hosting</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/lessons/module2/lesson2.html">Live Session 2</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module2/lab2.html">Lab 2</a></li>
            </ul>
          </li>
          {% endif %}
      
      
          {% if site.see_module_3 %}
          <li class="module">
            <h3>Module 3</h3>
            <ul>
              <li><a href="{{ site.baseurl }}/lessons/module3/overview.html">Overview</a></li>
              <li>
                Prework Lesson 1
                <ul>
                  <li><a href="{{ site.baseurl }}/lessons/module3/intro_to_firebase_functions.html">Intro to Firebase Functions</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module3/intro_to_node.html">Intro to Node and Node modules</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/lessons/module3/lesson1.html">Live Session 1</a></li>
              <li>
                Prework Lesson 2
                <ul>
                  <li><a href="{{ site.baseurl }}/lessons/module3/intro_to_apis.html">Understanding the impact of APIs</a></li>
                  <li><a href="{{ site.baseurl }}/lessons/module3/intro_to_interview_expectations.html">Interview Expectations</a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/lessons/module2/lesson2.html">Live Session 2</a></li>
              <li><a href="{{ site.baseurl }}/lessons/module3/lab3.html">Lab 3</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Created by South Bend Code School &mdash; <a href="https://www.facebook.com/southbendcodeschool">Check us out.</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
